<%- include('../adminlayouts/header.ejs') %>

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Add Referral Offer </h3>
      <nav aria-label="breadcrumb">
      </nav>
    </div>
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <!-- <form action="/admin/offersadd" method="post" onsubmit="return validateForm()"> -->
              <form  action="/admin/referralAdd" method="POST"  >

                <div class="mb-4">
                    <label for="couponCode" class="form-label">Referrer Reward</label>
                    <input type="text" placeholder="Referrer Reward" name="referrerReward" class="form-control" id="couponCode" oninput="validateCouponCode()" />
                    <small id="couponCodeError" class="text-danger"></small>
                </div>
                <div class="mb-4">
                    <label for="couponCode" class="form-label">Referree Bonus</label>
                    <input type="text" placeholder="Referree Bonus" name="referreeBonus" class="form-control" id="couponCode" oninput="validateCouponCode()" />
                    <small id="couponCodeError" class="text-danger"></small>
                </div>

               
              
                  <div>
                    <button type="submit" class="btn btn-lg btn-gradient-primary mt-2">Add Referral Offer</button>
                  </div>
              
              </form>
              
            </div>
        </div>
    </div>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  function validateForm() {
    const name = document.getElementById('name').value;
    const startingDate = document.getElementById('startingDate').value;
    const expiryDate = document.getElementById('expiryDate').value;
    const percentage = document.getElementById('percentage').value;

    // Check if any field is empty
    if (name === '' || startingDate === '' || expiryDate === '' || percentage === '') {
      alert('Please fill in all fields');
      return false;
    }

    // Check if the starting date is before the current date
    const currentDate = new Date().toISOString().split('T')[0];
    if (startingDate < currentDate) {
      alert('Starting date cannot be in the past');
      return false;
    }

    // Check if the percentage is negative
    if (parseInt(percentage) <= 0) {
    alert('Percentage cannot be negative');
    return false;
}


    // Add more specific validation rules as needed

    return true;
  }
</script>

<%- include('../adminlayouts/footer.ejs') %>
