<link rel="stylesheet" type="text/css" href="../style/style.css">

<div class="container">
   <div class="image-container">
      <img src="/assets/img/referral/Screenshot (442).png" alt="Registration Image" class="registration-image">
  </div>

  <div class="form-container">
   <h1>Login</h1>

   <% if(typeof message !=='undefined' ){ %>
      <h4>
         <%= message %>
      </h4>
      <% } %>



         <form action="/login" method="post" onsubmit="return validate()">
            <input type="email" id="email" name="email" placeholder="Enter email">
            <p class="error"></p>
            <input type="password" id="password" name="password" placeholder="Enter password">
            <p class="error"></p>
            <br>
            <input type="submit" value="Login">
            <div class="forgot-password-container">
               <span class="forgot-password" onclick="location.href='/forgotPassword'">Forgot Password?</span>
           </div>
         </form>
         

        <div class="register-container">
         <span class="register-text">Don't have an account? </span>
         <a href="/register" class="register-button">Register</a>
     </div>
        
      </div>
</div>

<script>

   const inputBox = document.querySelectorAll('input');
   const error = document.querySelectorAll('.error');
   inputBox.forEach((element, index) => {
      element.addEventListener('keyup', () => {
         error[index].innerHTML = ""
      })
   });


   function validate() {

      var email = document.getElementById('email').value;
      var emailRegex = /^[^\s@]+@gmail\.com$/i;

      var password = document.getElementById('password').value;





      let err = 0
      if (!emailRegex.test(email)) {
         error[0].innerHTML = "Invalid email. Please enter a valid Gmail address"
         err = 1
      }

      if(!email){
         error[0].innerHTML = "This field is required"
         err = 1
      }


      if(!password){
         error[1].innerHTML = "This field is required"
         err = 1
      }

      if(err===1){
         return false;
      }else{
         return true;
      }
   }


</script>


<style>
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        padding: 0 20px; /* Add some padding */
    }

    .form-container,
    .image-container {
        width: 100%; /* Set width to 100% */
        aspect-ratio: 1/1; /* Maintain a square aspect ratio */
    }

    .registration-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the image covers the container */
        object-position: center top; /* Move the image slightly up */
    }

    .form-heading {
        text-align: center;
        margin-top: 0;
    }

    .d-flex {
        display: flex;
    }

    .justify-content-between {
        justify-content: space-between;
    }

    .align-items-center {
        align-items: center;
    }


   
.forgot-password {
    color: blue; 
    text-decoration: underline; 
    cursor: pointer; 
}


.forgot-password-container {
    margin-right: 10px; 
}



.register-container {
        margin-top: 20px;
        text-align: center;
    }

    .register-text {
        color: #4a4a4a;
    }

    .register-button {
        color: #2e3d49;
        background-color: #ffffff;
        border: 1px solid #2e3d49;
        border-radius: 6px;
        padding: 10px 20px;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .register-button:hover {
        background-color: #f0f0f0;
    }
</style>