<%- include('../layouts/header.ejs') %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- CONTENT -->
<section class="py-12">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

        <!-- Icon -->
        <div class="mb-7">
          <i class="fas fa-check-circle text-success fs-1"></i>
        </0>

        <!-- Heading -->
        <h2 class="mb-5">Success! Your Order is Confirmed</h2>

        <!-- Text -->
        <p class="mb-7 text-gray-500">
          Your order has been successfully processed.
        </p>

        <!-- Button -->
        <a class="btn btn-sm btn-outline-secondary" href="/orders">
          View My Orders <i class="fas fa-fireworks" style="margin-left: 5px;"></i>
        </a>
        

      </div>
    </div>
  </div>
</section>