<%- include('../layouts/header.ejs') %>

    <!-- BREADCRUMB -->
    <nav class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Breadcrumb -->
            <ol class="breadcrumb mb-0 fs-xs text-gray-400">
              <li class="breadcrumb-item">
                <a class="text-gray-400" href="/">Home</a>
              </li>
              <li class="breadcrumb-item active">
                My Account
              </li>
            </ol>

          </div>
        </div>
      </div>
    </nav>

    <!-- CONTENT -->
    <section class="pt-7 pb-12">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">

            <!-- Heading -->
            <h3 class="mb-10">My Account</h3>

          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-3">

            <!-- Nav -->
            <nav class="mb-10 mb-md-0">
              <div class="list-group list-group-sm list-group-strong list-group-flush-x">
                <a class="list-group-item list-group-item-action dropend-toggle active" href="/orders">
                  Orders
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="/wishlist">
                  Wishlist
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="/account-personal-info">
                  Personal Info
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="/account-address">
                  Addresses
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="/wallet">
                  Wallet
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle " href="/userReferral">
                  Referral
                </a>
                <a class="list-group-item list-group-item-action dropend-toggle" href="/logout">
                  Logout
                </a>
              </div>
            </nav>

          </div>
          <div class="col-12 col-md-9 col-lg-8 offset-lg-1">

           
            <div class="row">
                <div class="col-10 col-lg-10 col-md-10">
                    <h4 class="mb-4">Referral Link</h4>

                   
                    <div class="mb-3">
                        <label for="referralLink" class="form-label">Your Referral Link:</label>
                        <div class="input-group">

                            <input type="text" class="form-control" id="referralLink" value="localhost:3001/register?referralId=<%=encodeURIComponent(referralCode) %>" readonly>

                            <button class="btn btn-outline-secondary" type="button" onclick="copyReferralLink()">Copy</button>
                        </div>
                    </div>
                </div>
        
            </div>

                                                      
                                            

            
         
          </div>
        </div>
      </div>
    </section>

  


            <script>
                function copyReferralLink(){
                    //get  input elmnt
                    var inputReferral = document.getElementById("referralLink")

                    inputReferral.select();//to select the text
                    document.execCommand("copy");//opy selected text to clipboard

                    inputReferral.setSelectionRange(0 ,0);//to deselect

                    alert("Copied the referraal link to clipboard:" +inputReferral.value);
                }
            </script>





    <style>
   .wallet-box {
 display: flex;
 flex-direction: column;
 align-items: center; 
 justify-content: center;
 background-color: #f3f4f6;
 border-radius: 10px;
 padding: 20px;
 margin: 20px auto;
 max-width: 600px;
 box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




.button-container {
 display: flex;
 justify-content: flex-end; /* Align button to the right */
 width: 100%; /* Ensure the container takes the full width */
}

.add-funds-btn {
 background-color: #48bb78;
 color: white;
 border: none;
 border-radius: 5px;
 padding: 10px 20px;
 cursor: pointer;
}

.add-funds-btn:hover {
 background-color: #38a169;
}

    </style>

    <%- include('../layouts/footer.ejs') %>